.container{
    max-width: 400px;
    margin: 20px auto;
    & h2{
        font-size: 4rem;
        color: red;
    }
    & p{
        color: blue;
    }
    & p::after{
        content: " hello ";
    }
    & p:hover{
        color: #000;
    }

}